h1{
    color: red;
    text-decoration: underline;
}
h3{
    color: rgb(55, 0, 255);
}
h4{
    color: purple;
}
html{
    background-color: rgb(58, 58, 58);
    margin-left: 5%;
    margin-right: 5%;
}
.eslogan{
    position: fixed;
    color: rgb(0, 17, 255);
}
.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
}


#menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
#menu .menuoptions{
    float: left;
}
#menu .menuoptions a{
    background-color: #000;
    color: #fff;
    padding: 1vh 2vw;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
#menu .desplegable{
    display: none;
}
#menu .menuoptions:hover .desplegable{
    display: block;
}
#menu .menuoptions a:hover{
    background-color: blue;
    color: rgb(0, 255, 0);
}



.index{
    background-color: greenyellow;
    border-color: limegreen;
    padding: 2%;
    margin: 2%;
    border-radius: 5%;
    display: flex;
    justify-content: left;
}
.textindex{
    position: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.subindex{
    margin-left: 20%;
}
.subsubindex{
    margin-left: 40%;
}
.sections{
    background-color: grey;
    padding: 2%;
    margin-top: 5%;
}
.center{
    display: flex;
    justify-content: center;
    color: rgb(201, 3, 3);
}
.centeroptions{
    display: flex;
    justify-content: space-around;
    color: red;
}
table{
    border:steelblue 5px solid;
}
td{
    border: black 2px solid;
}